* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-family: "Pacifico", cursive;
}

h3{
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 20px;
}

#all {
  display: flex;
  align-items: stretch;
  height:100vh;
}

#left-side {
  flex: 1;
  background-image: url("https://images.unsplash.com/photo-1519731076138-ad173250029a?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
}

#right-side {
  flex: 2;
  display: inline-flex;
  flex-direction: column;
}

#text {
  background-color: rgb(226, 226, 226);
  min-height: 100px;
  min-width: 50px;
  flex-grow: 0.5;
  display: flex;
  align-items: center;
}

#form {
  background-color: rgb(255, 255, 255);
  min-height: 100px;
  min-width: 50px;
  flex-grow: 1.2;
}

#submit{
  background-color: rgb(226, 226, 226);
  min-height: 100px;
  min-width: 50px;
  flex-grow: 1;
}

#brand {
  background-color: rgba(255, 255, 255, 0.514);
  min-height: 100px;
  min-width: 50px;
  margin-top: 180px;
}