* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fascinate-regular {
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-family: "Fascinate", system-ui;
  font-size: 50px;
  color: rgb(38, 42, 66);
}

button {
  margin: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(38, 42, 66);
  color: white;
  border-radius: 5px;
  border: none;
}

p{
  margin-left: 40px;
}

#explanation{
  margin: 0 auto;
  margin-left: 40px;

}

#all {
  display: flex;
  align-items: stretch;
  height:100vh;
}

#left-side {
  flex: 1;
  background-image: url("https://images.unsplash.com/photo-1519731076138-ad173250029a?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
}

#right-side {
  flex: 2;
  display: inline-flex;
  flex-direction: column;
}

#text {
  background-color: rgb(240, 240, 240);
  min-height: 100px;
  min-width: 50px;
  flex-grow: 0.5;
  display: flex;
  align-items: center;
}

#form {
  background-color: rgb(255, 255, 255);
  min-height: 100px;
  min-width: 50px;
  flex-grow: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-content: space-around;
  justify-content: space-around;
}

#submit{
  background-color: rgb(240, 240, 240);
  min-height: 100px;
  min-width: 50px;
  flex-grow: 1;
}

#brand {
  background-color: rgba(255, 255, 255, 0.514);
  min-height: 100px;
  min-width: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-item {
  flex: 0 0 40%;
  display: flex;
  align-items: left;
  padding: 2%;
  flex-direction: column;
}

input {
  flex: 100%;
  border: 1px solid #777777; 
  border-radius: 2px;
  outline: none;
}

input:focus {
  border: 2px solid rgb(73, 85, 151);
  outline: none;
  border-radius: 2px;
} 

#user_password:invalid, 
#confirm_password:invalid {
  border: 2px solid red;
  outline: none;
  border-radius: 2px;
}